.A{
  background-color: green;
}

.gravity0 { background-color: #B2F699; }
.gravity1 { background-color: #FFBA80; }
.gravity2 { background-color: rgb(228, 118, 44); }
.gravity3 { background-color: rgb(250, 63, 57); }
