<div>
	<kendo-numerictextbox [value]="100" (valueChange)="emitChangeEvent($event)"> </kendo-numerictextbox>

	<input [(colorPicker)]="colors[0]" [style.background]="colors[0]" (colorPickerChange)="emitChangeEvent($event)" />

	<kendo-numerictextbox [value]="500" (valueChange)="emitChangeEvent($event)"> </kendo-numerictextbox>

	<input [(colorPicker)]="colors[1]" [style.background]="colors[1]" (colorPickerChange)="emitChangeEvent($event)" />

	<kendo-numerictextbox [value]="1000" (valueChange)="emitChangeEvent($event)"> </kendo-numerictextbox>

	<input [(colorPicker)]="colors[2]" [style.background]="colors[2]" (colorPickerChange)="emitChangeEvent($event);" />

	<kendo-numerictextbox [value]="2000" (valueChange)="emitChangeEvent($event)"> </kendo-numerictextbox>

	<input [(colorPicker)]="colors[3]" [style.background]="colors[3]" (colorPickerChange)="emitChangeEvent($event);" />

</div>