<div class="grid-wrapper">
  <kendo-grid
  [data]="view | async"
  [pageSize]="state.take"
  [skip]="state.skip"
  [sort]="state.sort"
  [sortable]="true"
  [filterable]="true"
  [pageable]="true"
  [scrollable]="'none'"
  (dataStateChange)="dataStateChange($event)"
  [rowClass]="rowCallback">
    <kendo-grid-column field="taxCode" title="Codice fiscale">
    </kendo-grid-column>
    <kendo-grid-column field="firstName" title="Nome">
    </kendo-grid-column>
    <kendo-grid-column field="lastName" title="Cognome">
    </kendo-grid-column>
    <kendo-grid-column field="caafCode" title="Codice Caaf">
    </kendo-grid-column>
    <kendo-grid-column field="income" title="Reddito Dipendente" [class]="{'codeColumn': true}">
    </kendo-grid-column>
  </kendo-grid>

  <div *ngIf="this.service.isLoading" class="k-i-loading"></div>
</div>
