<kendo-grid
EmployeeIncomeBinding
  [data]="gridData"
  [height]="410"
  [sortable]="true"
  [filterable]="true" >
  <kendo-grid-column field="taxCode" title="Codice fiscale">
  </kendo-grid-column>
  <kendo-grid-column field="firstName" title="Nome">
  </kendo-grid-column>
  <kendo-grid-column field="lastName" title="Cognome">
  </kendo-grid-column>
  <kendo-grid-column field="caafCode" title="Codice Caaf">
  </kendo-grid-column>
  <kendo-grid-column field="income" title="Reddito Dipendente">
  </kendo-grid-column>
</kendo-grid>
