<kendo-grid
  [data]="gridData"
  [height]="410" >
  <kendo-grid-column field="TaxCode" title="Codice fiscale" width="40">
  </kendo-grid-column>
  <kendo-grid-column field="FirstName" title="Nome" width="250">
  </kendo-grid-column>
  <kendo-grid-column field="LastName" title="Cognome">
  </kendo-grid-column>
  <kendo-grid-column field="CaafCode" title="Codice Caaf" width="80">
  </kendo-grid-column>
  <kendo-grid-column field="Income" title="Reddito Dipendente" width="80">
  </kendo-grid-column>
</kendo-grid>
